/* 3. 사용자 정의 폰트(@font-face 규칙 사용) */
@font-face {
  font-family: abc;
  src: url(../images/cc.ttf);
}

/* 2. 웹폰트(@import 사용) */
@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gugi&display=swap");

* {
  /* 전체 선택자 */
  margin: 0; /* 바깥 여백 */
  padding: 0; /* 안쪽 여백 */
}

html {
  /* 태그 선택자 */
  height: 100%; /* 높이는 장비의 높이 100% 모두 사용 */
}

body {
  font: normal 0.8em sans-serif; /* 보통체, 대문자 높이 기준 0.8배(80%) 사이즈, 글꼴 설정 */
  background-color: #d9dfe1; /* 배경색 */
  color: #504f4f; /* 글자색 */
}

p {
  padding: 0 0 18px 0; /* 위, 오른, 아래, 왼쪽 안쪽 여백 설정 */
  line-height: 1.7em; /* 줄간격(행간) */
}

img {
  border: 0; /* 테두리 없음 */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font: normal 165% arial, sans-serif;
  color: #2db8cd;
  margin: 0 0 14px 0;
}

h2 {
  color: #b00000;
}

h4,
h5,
h6 {
  font: normal 120% arial, sans-serif;
  color: #b00000;
  margin: 0;
  padding: 0 0 5px 0;
}

h5,
h6 {
  font: italic 95% arial, sans-serif;
  color: #0080ff;
}

a,
a:hover {
  outline: none;
  text-decoration: none; /* 밑줄 없음 */
  color: #0080ff;
}

a:hover {
  text-decoration: underline; /* 밑줄 */
}

ul {
  margin: 2px 0 0 17px;
}

ul li {
  list-style-type: circle; /* 글머리 기호(흰원) */
  margin: 0 0 3px 0;
  padding: 0 0 4px 5px;
}

#main,
#logo,
nav,
#site_content,
footer {
  margin-left: auto; /* 가운데 정렬 */
  margin-right: auto;
}

#main {
  padding-bottom: 20px;
}

header {
  background-color: transparent; /* 배경색 투명 */
  height: 170px;
}

#logo {
  width: 860px; /* 내용(content)의 너비 설정 */
  height: 134px; /* 내용(content)의 높이 설정 */
  position: relative; /* 상대좌표: 나머지 요소 위치에 영향을 주지 않고, 자신만 움직임 */
}

#logo h1 {
  font-size: 300%;
  margin: 0;
  color: white;
}

#logo h1,
#logo h1 a,
#logo h1 a:hover {
  padding: 22px 0 0 0;
  color: white;
  text-decoration: none;
}

#logo h1 a:hover {
  color: #888;
}

#logo h2 {
  font-size: 120%;
  padding: 4px 0 0 0;
  color: #747663;
}

nav {
  width: 900px;
  height: 24px;
}

/****************** 메뉴 부분 ********************/

#menu {
  margin: 0;
  padding: 0;
  float: right; /* ul 태그를 붕~떠서 오른쪽으로 이동! */
}

#menu li {
  list-style-type: none;
  padding: 0;
  margin: 5px 2px 0 0;
  float: left;
}

#menu li a {
  display: block; /* a태그는 inline 형식인데 block 형식으로 변경 (너비 최대로 활용) */
  font-size: 100%;
  height: 20px;
  padding: 6px 20px 5px 20px;
  text-align: center;
  margin: 5px 2px 0 0;
  background-color: lightpink;
  color: #400000;
  text-decoration: none;
}

#menu li a:hover {
  background-color: #f5f4f4;
  color: rgb(49, 43, 10);
}

/****************** 본문 부분 ********************/

#site_content {
  width: 858px;
  overflow: hidden; /* 표현해야하는 대상이 더 크면 짜르기! */
  padding: 10px 20px 20px 20px;
  background: #eeecec url(../images/back.png) repeat-y; /* 배경색 배경이미지 y축으로 반복 */
  border: 15px solid white;
}

aside {
  width: 190px;
  float: right;
  padding: 0 15px 20px 15px;
}

aside ul {
  width: 178px;
  padding: 4px 0 0 0;
  margin: 4px 0 30px 0;
}

aside ul li {
  list-style-type: none;
  padding: 0 0 7px 0;
}

aside ul li a,
aside ul li a:hover {
  display: block;
  padding: 7px 0 7px 30px;
  text-decoration: none;
  background: url(../images/icon.png) no-repeat left center;
}

aside ul li a:hover {
  color: #444;
  text-decoration: underline;
}

section {
  width: 613px;
  text-align: left; /* 왼쪽 정렬 */
  padding: 0;
}

#p2,
#p1 {
  text-align: justify; /* 양쪽 정렬 */
}

article {
  margin-bottom: 25px;
}

article h2 {
  font-family: "Rajdhani";
}

table {
  width: 100%; /* 바로 위의 부모 너비의 100% 사용 */
  margin: 7px 0 14px 0;
}

table tr th,
table tr td {
  background-color: #bc8e85;
  color: white;
  text-align: center;
  padding: 7px 5px; /* 위아래 7px, 좌우 5px */
}

table tr td {
  background-color: #dcdccf;
  color: #595754;
}

table caption {
  font-size: 16px;
  color: #4f0000;
  margin: 5px;
}

footer {
  width: 90%;
  height: 20px;
  text-align: center;
  font-size: 90%;
  font-family: sans-serif;
  padding: 20px 0 5px 0;
  color: #111;
  text-transform: uppercase; /* 모두 대문자로 변경 */
  letter-spacing: 0.1em; /* 글자 사이 간격 */
}

footer p a,
footer p a:hover {
  color: #111;
  text-decoration: none;
}

footer p a:hover {
  text-decoration: underline;
}

.webfont2 {
  font-family: "Gugi";
}

.webfont3 {
  font-family: abc;
  font-size: 15pt;
}

/* 중간 상태 정의(중간 상태 이름: slidein) */
@keyframes slidein {
  from {
    /* 시작 상태 */
    width: 50%; /* 부모 태그 너비의 50% 설정 */
    margin-left: 50%; /* 왼쪽 바깥 여백(부모 태그 너비의 50%) 사용 */
  }
  to {
    /* 끝 상태 */
    width: 50%;
    margin-left: 0%;
  }
}

#art1 h3 {
  background-color: #dcdccf;

  animation-name: slidein; /* 중간상태 이름 설정 */
  animation-duration: 2s;
  animation-delay: 1s;
}

#transform1 {
  transform: rotate(90deg); /* 90도 회전(시계방향) */
}

#transform2 {
  transform: skewx(30deg); /* 30도 비틀기 (x축) */
}

#transform3 {
  transform: scale(0.7); /* 확대 축대 */
  transition: 1s;
}

#transform3:hover {
  transform: scale(1.5);
  transform: rotate(180deg);
  opacity: 0.5; /* 투명도 설정 (0.0은 투명, 1.0은 불투명, 0.5은 반투명) */
}

#box {
  width: 30px;
  height: 20px;
  border: 1px solid rgba(8, 7, 7, 0.728);
  background-color: #0080ff;
  transition: width 3s, height 2s; /* 속성 변화시 속도(초) 설정, 기본 초만 설정할 경우 all을 의미 */
}

#box:hover {
  width: 100%;
  height: 60px;
  background-color: #ea46c1;
}

@keyframes multi {
  /* 중간 상태 */
  0% {
    background-color: red;
    left: 10px;
    top: 10px;
  }
  25% {
    background-color: yellow;
    left: 200px;
    top: 50px;
  }
  50% {
    background-color: green;
    left: 250px;
    top: 130px;
  }
  75% {
    background-color: blue;
    left: 60px;
    top: 50px;
  }
  100% {
    background-color: red;
    left: 10px;
    top: 10px;
  }
}

#box2 {
  width: 30px;
  height: 30px;
  border: 1px solid rgb(26, 26, 26);
  background-color: red;
  position: relative;
  left: 10px;
  top: 10px;

  animation-name: multi;
  animation-duration: 3s;
}

#menu li.selected a,
#menu li.selected a:hover {
  background-color: white;
  color: #464444;
}
